<h1 mat-dialog-title>New Recipe</h1>
<div mat-dialog-content>
  <form>
    <div class="form-group">
      <label>
        Name
        <input
          type="text"
          [(ngModel)]="name"
          name="name"
          autocomplete="off"
          class="form-control"
        />
      </label>
    </div>
    <div class="form-group">
      <label>
        Directions
        <textarea
          [(ngModel)]="directions"
          name="directions"
          autocomplete="off"
          class="form-control"
        ></textarea>
      </label>
    </div>
    <div class="form-group">
      <label>
        Notes
        <textarea
          [(ngModel)]="notes"
          name="notes"
          autocomplete="off"
          class="form-control"
        ></textarea>
      </label>
    </div>
    <div class="form-group">
      <label>
        Ingredients - enter each ingredient on it's own line
        <textarea
          [(ngModel)]="ingredients"
          name="ingredients"
          autocomplete="off"
          class="form-control"
        ></textarea>
      </label>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close] (click)="submit()">Submit</button>
</div>
