<app-tab-layout>
  <div class="h-full flex flex-col justify-between">
    <!-- Filters -->
    <div class="p-3 pb-1 shadow">
      <div class="grid">
        <input [formControl]="filterInput" type="text" placeholder="search" class="rounded-full col-span-full row-start-1">
        <button *ngIf="filterInput.value" (click)="filterInput.reset('')" class="col-start-1 col-span-1 right-3 row-start-1 justify-self-end px-3">
          <mat-icon class="text-gray-600 align-middle">clear</mat-icon>
        </button>
      </div>
      <div *ngIf="categories.length > 0" class="whitespace-nowrap overflow-x-auto pt-3 pb-2 flex gap-3 scrollbar-hidden">
        <button *ngIf="selectedCategories.length > 0">clear filters</button>
        <button *ngFor="let category of testCategories" class="bg-gray-100 rounded-full px-3" (click)="null" >{{category.name}}</button>
      </div>
    </div>
    <!-- Results -->
    <div *ngIf="filteredRecipes | async as recipeResults" class="divide-y-2 overflow-y-auto mx-3">
      <button (click)="showRecipe(recipe)" *ngFor="let recipe of recipeResults" class="block w-full text-left p-3 hover:bg-gray-50">{{recipe.name}}</button>
      <button (click)="showForm()" *ngIf="recipeResults.length === 0" class="block w-full p-5">Looks like there's nothing called "{{filterInput.value}}". <br/> Click here to create a new recipe.</button>
    </div>
  </div>
  <!-- Floating Button -->
  <button (click)="showForm()" class="fixed bottom-20 right-3 z-20 bg-purple-500 text-white rounded-full px-5 py-3 shadow-md active:shadow-none">Add Recipe</button>
</app-tab-layout>

<!-- Sub pages -->
<app-stack-view *ngIf="recipeView" (onClose)="hideRecipe()">
  <app-recipe-stack-view [recipe]="recipeView"></app-recipe-stack-view>
</app-stack-view>

<app-stack-view *ngIf="newRecipe" (onClose)="hideForm()">
  <app-add-recipe></app-add-recipe>
</app-stack-view>
