<!-- <button class="btn btn-outline-dark" (click)="onTestClick()">Test</button> -->
<form>
  <div class="form-group">
    <label>
      Name
      <input
        type="text"
        [(ngModel)]="mealName"
        name="mealName"
        autocomplete="off"
        class="form-control"
      />
    </label>
  </div>
  <div class="form-group">
    <label>
      Select Recipes:
      <select multiple class="form-control" [(ngModel)]="selectedRecipes" name="selectedRecipes">
        <option *ngFor="let recipe of recipes$ | async" [value]="recipe">{{recipe.name}}</option>
      </select>
    </label>
  </div>
  <button (click)="onSubmit()" class="btn btn-outline-dark">Create Meal</button>
</form>
