<form class="example-form"
*ngIf="filteredOptions | async as options"
>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Add Recipe</mat-label>
    <input
      type="text"
      placeholder="Add Recipe"
      aria-label="Recipe Selector"
      matInput
      [formControl]="recipeInput"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      (optionSelected)="onSelect($event)"
    >
      <mat-option
        *ngFor="let recipe of options"
        [value]="recipe"
      >
        {{ recipe.name }}
      </mat-option>
      <mat-option *ngIf="recipeInput.value" [value]="recipeInput.value">
        <span style="color:gray">Create</span> "{{ recipeInput.value }}"
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
