<div *ngIf="daysInView">
  Calender:
  <ul>
    <!-- <li *ngFor="let day of days; index as i">
      {{ day.dateString }} -->
      <!-- <ng-template #suggestion>
        <div *ngIf="template.scheduledMeals[i]">
          Suggested Meal:
          <p *ngFor="let recipe of template.scheduledMeals[i].recipes">
            {{ recipe.name }}
          </p>
          <button (click)="onAccept(day, template.scheduledMeals[i])">Accept</button>
        </div>
      </ng-template> -->
    <!-- </li> -->
  </ul>
</div>
